@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
*{
    margin: 0;
    box-sizing:content-box;
    font-family: 'Hanken Grotesk', sans-serif;

}
body{
    background-color:hsla(30, 38%, 92%, 0.5); 
}
.container1{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 200px;
    
}
.left-side{
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    width: 17rem;
    height: 22rem;
    border-radius: 10%;
}
.headin1{
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
    text-align: center;
    margin-top: 2rem;
    color: #D3D3D3;
    

    
}
.rounded-circle1 {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    position: relative;
  }
  
  .larger-text {
    font-size: 42px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .smaller-text{
    position: absolute;
    top: 68%;
    font-size: smaller;
    font-weight: 100;
    color: lightgrey;
    
  }
.heading2{
    text-align: center;
    margin-top: 1rem;
    color: white;
}
h1{
    color: white;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
    font-size:x-large;
    position: relative;
}
.heading2 p{
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 14px;
    font-weight: 500;
    width: 80%;
    position: relative;
    top: 50%;
    left: 10%;
    color: lightgray;
}
.right-side{
    width: 17rem;
    height: 22rem;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    background-color: white;
}
#jod1{
    background-color: white;
    border-radius: 10%;
    width: fit-content;
    position: relative;
    transform: translate( -50%);
    top: 50%;
    left: 50%;
}
h2{
    font-size: 16px;
    font-weight: 600;

    margin-top: 2rem;
    margin-left: 1.5rem;
}
.number1{
    padding-left: 4rem;
}
.reaction1{
    width: fit-content;
    margin-left: 1.2rem ;
    margin-top: 1rem;
    padding: 7px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}
.number2{
    padding-left: 4.2rem;
}
.number3{
    padding-left: 5rem;
}
.number4{
    padding-left: 5.2rem;
}
.rect2{
    background-color: hsla(0, 100%, 67%, 0.07);
}   
.react3{
    background-color: hsla(39, 100%, 56%, 0.07);
}
.react4{
    background-color: hsla(166, 100%, 37%,0.07);
}
.react5{
    background-color: hsla(234, 85%, 45%, 0.07);
}
button{
    width: 75%;
    position: relative;
    text-align: center;
    left: 8%;

}
.btn{
    border-radius: 15px;
    background-color: hsl(224, 30%, 27%);
    border: none;
}
.btn:hover{
    background-color: lightslategray;
    
}
.attribution{
    margin-top: 3rem;
}
@media (max-width:575px){
    .container1{
        display: block;
        margin-top: 0px;
    }
    
}
@media (max-width:376px){
    body{
        overflow: hidden;
    }
    *{
        margin: 0;
        
    }
    #jod1 {
        /* top: 50%; */
        /* ... */
      }
      

    .headin1{
        margin: 0rem;
        padding-top: 1rem;
    }
    .right-side{
        width: 24rem;
        height:23rem;
    }
    .left-side{
        width: 24rem;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        height: 18rem;
    }
    .attribution{
        display: none;
    }
    p{
        margin-right: 0px; 
    }
    .heading3{
        padding-left: 1rem;
    }
    .cards1{
        padding-left: 1rem;
        overflow: hidden;
    }
    .number1{
        padding-right: 5rem;
    }
    .number2{
        padding-right: 4.9rem;
    }
    .number3{
        padding-right:5rem;
    }
    .number4{
        padding-right: 5.1rem;
    }
    .reaction1{
        padding: 0.8rem;
    }
    h2{
        margin-top: 1rem;
    }
    .rect2{
        margin-top: 1rem;
    }
    button{
        position: absolute;
        width: 80%;

    }
}